body {
	font-family: 'Open Sans', arial;
	margin: 0px;
}

body#background {
  background: url('cover.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

body#showcase {
  background: url('background-tile-budlight.png'); 
}

body#debate {
  background: url('background.png');
  margin: 0px;
}

body#zone {
  background: url('football_background.png');
  margin: 0px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -350px;
  padding-top: 40px;
  width: 700px;
  height: 400px;
  border-radius: 5px;
  text-align: center;
}

input#debateId {
  width: 250px;
  height: 50px;
  margin:0px;
  padding: 5px 10px;
  font-size: 20px;
  color: #444444;
  text-align: center;	
}

input.loginForm {
  width: 300px;
  height: 50px;
  margin:10px;
  padding: 5px 10px;
  font-size: 20px;
  color: #444444;
  text-align: center; 
}

.timerButton {
  width: 120;
  height: 50px;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 250%;
  margin: 5px auto;
}

.loginButton {
  width: 120;
  height: 50px;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 250%;
  margin: 10px auto 30px auto;
}

.guestButton {
  width: 160;
  height: 50px;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 250%;
  margin: 10px auto 30px auto;
}

.testButton {
  width: 260;
  height: 50px;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 250%;
  margin: 10px auto 30px auto;
}

.newDebateButton {
  width: 240;
  height: 50px;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 250%;
  margin: 30px auto 30px auto;
}

#joinButton {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -60px;
  width: 120px;
  height: 50px;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 250%;
}

.homeTitle {
  color: #ddd;
  padding: 10px;
  font-size: 14px;
  background-color: rgba(40,40,40,0.7);
  text-transform: uppercase;
}

.homeSection {
  margin: 50px 100px;
  background-color: rgba(40,40,40,0.7);
  border-radius: 10px;
  padding: 15px;
}

.homeSectionTitle {
  color: #ddd;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.homeSectionFooter {
  min-height: 20px;
  clear: both;
}

.homeSectionLine {
  padding: 25px;
  color: #ddd;
  clear: both;
}

.listDebateTitle {
  color: #ddd;
  font-size: 20px;
  text-transform: uppercase;
}

.listDebateDateTime {
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
}

.smallButton {
  float: left;
  width: 120;
  background: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  line-height: 250%;
  margin: 15px;
  padding: 6px 8px;
}

.debateTitle {
	color: #ddd;
	text-align: center;
  	padding: 10px;
	font-size: 24px;
  	text-transform: uppercase;
  	position: relative;
  	left: -55px;
}

.debateTitleLight {
	color: #ddd;
	text-align: center;
  	padding: 10px 100px;
	font-size: 24px;
  	text-transform: uppercase;
  	background-color: rgba(0,0,0,0.3);
}

#debateWindowA {
	float: left;
	margin: 50px;
  background-color: rgba(40,40,40,0.7);
  border-radius: 10px;
}

.streamWindow {
  height: 300px;
  width: 400px;  
}

.testStreamWindow {
  height: 300px;
  width: 400px;
  margin: 20px auto;
}

.streamWindowMedium {
  min-height: 150px;
  margin: auto;
  display: inline-block;
}

.streamWindowSmall {
  height: 300px;
  width: 400px;  
}

.debateWindowTitle {
  text-align: center;
  color: #ddd;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
}

.debateWindowSubTitle {
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;


}

#debateWindowB {
	float: right;
	margin: 50px;
  background-color: rgba(40,40,40,0.7);
  border-radius: 10px;
}

#judgeWindow {
	margin: 250px auto 25px auto;
  background-color: rgba(40,40,40,0.7);
  border-radius: 10px;
  width: 320px;
}

#streamWindowJudge {
  text-align: center;
  height: 240px;
  width: 320px;
}

#audience {
	margin-left: 100px;
	margin-top: 15px;
	height: 90px;
}

.formDivider {
  width: 70%;
  margin-bottom: 30px;
}

.formLabel {
  float: left;
  width: 150px;
  color: #ddd;
  font-size: 16px;
  text-transform: uppercase;
  text-align: right;
  margin: 5px 10px 5px 25px;
  padding-top: 14px;
}

.sectionRow {
  clear: both;
  margin-top: 10px;
}

input.formInputLong {
  width: 700px;
  height: 40px;
  margin:10px;
  padding: 5px 10px;
  font-size: 16px;
  color: #444444;
}

input.formInputShort {
  width: 350px;
  height: 40px;
  margin:10px;
  padding: 5px 10px;
  font-size: 16px;
  color: #444444;
}

a:link {
  text-decoration: none;
}

.mainContainer {
  width: 1400px;
  margin: auto;
}

.guestContainerLeft {
  width: 160px;
  min-height: 700px;
  float: left;
  background-color: rgba(40,40,40,0.7);
  border-radius: 10px;
  padding: 20px;
  margin: 0px 25px;
}

.guestContainerRight {
  width: 160px;
  min-height: 700px;
  float: right;
  background-color: rgba(40,40,40,0.7);
  border-radius: 10px;
  padding: 20px;
  margin: 0px 25px;
}

.debateContainer {
  width: 820px;
  min-height: 700px;
  margin: 25px auto;
  border-radius: 10px;
  padding: 5px;
}

.speakerVideo {
	width: 400px;
	height: 300px;
  	background-color: rgba(40,40,40,0.8);
 	border-top-left-radius: 10px;
 	border-top-right-radius: 10px;
}

.propContainer {
	width: 400px;
	float: left;
}

.oppContainer {
	width: 400px;
	float: right;
}

.timerOverlay {
	z-index: 5000;
	height: 12px;
	position: relative;
	bottom: 12px;
	width: 400px;
}

.infoOverlay {
	z-index: 5000;
	position: relative;
	bottom: 12px;
	width: 380px;
  	background-color: rgba(40,40,40,0.8);
  	padding: 10px;
  	color: #ddd;
  	text-transform: uppercase;
  	font-size: 14px;
  	overflow: hidden;
 	border-bottom-left-radius: 10px;
 	border-bottom-right-radius: 10px;
}

.infoName {
	font-size: 18px;
}

.infoScore {
	float: right;
}

.infoScorePoints {
	font-size: 36px;	
}

.score {
  	text-align: center;
  	font-size: 34px;
  	color: #ddd;
  	padding-top: 50px;
  	height: 100px;
	width: 300px;
}

#propScore {
	float: left;
}

#oppScore {
	float: right;
}

.scoreCenter {
  width: 100%;
  text-align: center;
  position: relative;
  top: -50px;
}

.judgeContainer {
  width: 300px;
  text-align: center;
  width: 100%;
}

.XdebateWindowTitle {
  text-align: center;
  color: #ddd;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
}

.XdebateWindowSubTitle {
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px;
}

#XdebateWindowB {
  float: right;
  margin: 50px;
  background-color: rgba(40,40,40,0.7);
  border-radius: 10px;
}

.modalBox {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;
  padding-top: 40px;
  width: 400px;
  height: 600px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  z-index: 9999;
  color: #ddd;
}

.debateHeader {
  overflow: hidden;
  text-align: center;
}
.debateBody {
  overflow: hidden;
}

.judgeStream {
  display: inline-block;
}

.nameTag {
  z-index: 1000;
  background-color: rgba(0,0,0,0.8);
  color: #ddd;
  text-transform: uppercase;
  border-top-right-radius: 30px;
}

.nameS {
  font-size: 10px;
  padding: 4px 20px 4px 6px;
}

.nameM {
  font-size: 12px;
  padding: 5px 30px 5px 10px;
}

.nameL {
  font-size: 15px;
  padding: 8px 40px 8px 15px;
}

.speakerOn {
  color: green;
}

.speakerOffBorder {
  border-top: solid 6px rgba(0,0,0,0);
}

.speakerOnBorder {
  border-top: solid 6px green;
}

.menuBar {
	width: 100%;
	background-color: #111;
	color: white;
    text-transform: uppercase;
	font-size: 12px;
	overflow: hidden;	
}

.logoImg {
	padding: 10px;
	float: left;
}

#logoffButton {
	padding: 10px;
	float: right;
	cursor: pointer;
}

.zoneContainer {
  width: 1200px;
  margin: 25px auto;
  background-color: rgba(40,40,40,0.7);
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}

.sparkVideoContainer {
	width: 560px;
	height: 315px;
	margin: 15px 320px;
}

.leftBar {
	width: 320px;
	float: left;
}

.rightBar {
	width: 320px;
	float: right;
}

.sideBar {
	width: 240px;
  	min-height: 315px;
  	margin: auto;
  	background-color: rgba(40,40,40,0.9);
 	border-radius: 10px;
  	padding: 20px;
  	color: #ddd;
  	font-size: 14px;
	text-transform: uppercase;
}

.sideBarTitle {
	color: #ddd;
	text-transform: uppercase;
	text-align: center;	
  	font-size: 16px;
  	margin-bottom: 20px;
}

.sideBarItem {
	margin-bottom: 10px;
}

.testInfo {
	width: 600px;
	color: #ddd;
  	font-size: 16px;
  	padding: 10px;
  	margin: auto;
}

.fullBar {
	width: 780px;
  	margin: auto;
  	background-color: rgba(40,40,40,0.8);
 	border-radius: 10px;
  	padding: 20px;
  	color: #ddd;
  	font-size: 14px;
	text-transform: uppercase;
	overflow: hidden;
}

.fullBarTitle {
	color: #ddd;
	text-transform: uppercase;
	text-align: center;	
  	font-size: 20px;
  	margin-bottom: 20px;
}

.fullBarSectionLeft {
	float: left;
	width: 500px;
}

.fullBarSectionRight {
	margin-left: 500px;
}

.fullBarSectionTitle {
	text-align: center;
	font-size: 16px;
}

.halfBarLeft {
	width: 515px;
	margin-left: 20px;
  	min-height: 315px;
  	background-color: rgba(40,40,40,0.9);
 	border-radius: 10px;
  	padding: 20px;
  	color: #ddd;
  	font-size: 14px;
	text-transform: uppercase;
	float: left;
}

.halfBarHalfSectionLeft {
	float: left;
	width: 245px;
}

.halfBarHalfSectionRight {
	width: 245px;
	margin: 10px 5px 10px 250px;
}

.halfBarRight {
	width: 515px;
	margin-left: 625px;
	margin-right: 20px;
  	min-height: 315px;
  	background-color: rgba(40,40,40,0.9);
 	border-radius: 10px;
  	padding: 20px;
  	color: #ddd;
  	font-size: 14px;
	text-transform: uppercase;
}

.halfBarTitle {
	color: #ddd;
	text-transform: uppercase;
	text-align: center;	
  	font-size: 16px;
  	margin-bottom: 20px;
}



.containerRow {
	clear: both;
	margin-bottom: 25px;
	overflow: hidden;
}

.waitingCount {
	font-size: 80px;
}

.comment {
	overflow: hidden;
	margin-bottom: 20px;
	padding: 10px;
}
.comment_pic {
	float: left;
}

.comment_username {
	margin-left: 60px;
}

.comment_text {
	margin-left: 60px;
	text-transform: none;
}

.challenge {
	margin-left: 60px;
	text-transform: uppercase;
	color: #4dd418;
	margin-top: 5px;
	padding-left: 10px;
}

.fullBarCenterAction {
	color: #4dd418;
	text-align: center;
	width: 100%;
}

input#adminPassword {
  width: 250px;
  height: 50px;
  margin:0px;
  padding: 5px 10px;
  font-size: 20px;
  color: #444444;
  text-align: center;	
}

td.formLabel {
	color: white;
	position: relative;
	top: -6px;
	width: 250px;
}

input.formField {
  height: 30px;
  width: 650px;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 16px;
  color: #444444;
}

.guestScoring {
	text-align: center;
}

.guestScoringButton {
	cursor: pointer;
	display: inline-block;
	height: 50px;
	margin: 10px;
	vertical-align: top;
}

.guestScoringCircle {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.4);
	margin: 15px 0px;
}

.badge {
	padding: 10px;
}

.splashContainer {
	width: 900px;
	z-index: 999999999;
	height: 390px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #ddd;
}

#countdown {
	font-size: 200px;
	font-weight: bold;
	padding: 30px;
}

.makeLink {
  cursor: pointer;
}